* {
  font-family: knockout;
}
.left_side_register {
  width: 377px;
}

.left_side_register h1 {
  font-weight: lighter;
  font-size: 55px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.left_side_register p {
  font-family: Avenir-regular;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Avenir-regular;
  font-size: 22px;
  letter-spacing: 0.5px;

  button,
  mat-form-field {
    width: -webkit-fill-available;
  }
  mat-form-field {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
  }
}
mat-error,
mat-label {
  font-family: Avenir-regular;
  font-size: 14px;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom: 2px solid black !important;
}
::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: black !important;
}
::ng-deep .mdc-text-field .mdc-text-field__input {
  caret-color: black !important;
}

mat-form-field:last-of-type ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
::ng-deep .mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}
::ng-deep
  .mat-mdc-checkbox.mat-accent
  .mdc-checkbox--selected
  ~ .mdc-checkbox__ripple {
  background: black !important;
}

::ng-deep
  .mat-mdc-checkbox.mat-accent
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background {
  border-color: transparent !important;
  background-color: black !important;
}

.register_btn {
  width: 330px;
  height: 43px;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  background-color: white !important;
  border: 1px solid black;
  border-radius: none;
  box-shadow: none;
}
.register_btn:hover {
  background-color: #000 !important;
  transition: 0.3s ease-in-out;
  color: white;
  box-shadow: none;
}

.terms {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
}

.checkbox span {
  font-family: Avenir-regular;
  font-size: 16px;
  cursor: default;
}
.checkbox a {
  text-decoration: none;
  color: black;
  font-family: Avenir-italic;
  letter-spacing: 1px;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
  font-size: 16px;
}
.checkbox a:hover {
  text-decoration: underline;
}
.captcha {
  padding-bottom: 20px;
}

.password-match {
  width: 100%;
  padding-bottom: 20px;
  font-size: 16px !important;
  margin: 0 !important;
}
.password-match span {
  font-family: Avenir-regular;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 927px) {
  .left_side_register h1 {
    font-size: 40px;
  }
}
