<div class="left_side_register">
  <h1>register</h1>
  <p>If you are a designer, and have a minimum of one collection ready to present on NJAL, please register your Look
    Book at
    no cost below.</p>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>LABEL NAME</mat-label>
      <input type="text" matInput formControlName="labelName">
      <mat-error *ngIf="form.get('labelName')!.hasError('required')">
        Label name is required
      </mat-error>
      <mat-error *ngIf="form.get('labelName')!.hasError('pattern')">
        Label name must contain only letters
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>EMAIL</mat-label>
      <input type="email" matInput formControlName="email">
      <mat-error *ngIf="form.get('email')!.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="form.get('email')!.hasError('email')">
        Email is invalid
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>PASSWORD</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="form.get('password')!.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="form.get('password')!.hasError('minlength')">
        Password must be at least 6 characters long
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>CONFIRM PASSWORD</mat-label>
      <input type="password" matInput formControlName="confirmPassword">
    </mat-form-field>
    <p class="password-match">Passwords match:
      <span
        *ngIf="form.hasError('passwordMismatch') && (form.get('password')?.dirty || form.get('confirmPassword')?.dirty)">
        No
      </span>
      <span
        *ngIf="!form.hasError('passwordMismatch') && (form.get('password')?.dirty || form.get('confirmPassword')?.dirty)">
        Yes
      </span>
    </p>
    <div class="terms">
      <mat-checkbox class="checkbox" formControlName="termsCheckbox">
        <span>I agree to the</span>
        <a routerLink="/terms">Terms & Conditions</a>
        <span> of Use.</span>
      </mat-checkbox>
    </div>
  </form>
  <div class="captcha">
    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" fromControlName="recaptcha"
      (captchaResponse)="onCaptchaResolved($event)">
    </ngx-recaptcha2>
  </div>
  <button mat-raised-button [disabled]="!form.valid || !captchaResolved" (click)="register()" *ngIf="!isRegistering"
    test-id="login-button" class="register_btn">
    REGISTER
  </button>
  <button mat-raised-button class="button-loader register_btn" *ngIf="isRegistering">
    <mat-spinner color="accent" diameter="20"></mat-spinner>
  </button>
</div>