<div class="main-wrapper">
  <div class="container">
    <div class="images-left-samll">
    </div>
    <div class="main-img">
    </div>
    <div class="product-div-right" *ngIf="NewInProduct">
      <span class="designer-name">{{NewInProduct.designerName}} </span>
      <span class="product-name">{{NewInProduct.name}}</span>
      <span class="product-price">{{NewInProduct.price | currency}}</span>
      <div class="quantity">
        <span>Quantity</span>
        <div>1</div>
      </div>
      <div class="description">
        <p>details</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod animi repudiandae rem aliquam, sint veritatis
          beatae pariatur eos tempora provident cum? Molestiae, ipsum? Laboriosam ea minima architecto dicta, recusandae
          quam?</p>
      </div>
      <button type="button" class="add-cart-btn">add to cart</button>
    </div>
  </div>
</div>