<main class="welcome_main" [style.background-image]="'url(' + backgroundImagePath + ')'">
  <div class="welcome_container">
    <a href="" class="main-logo">
      <img src="/assets/images/svg/logo.svg" alt="logo">
    </a>
    <article>
      <div class="welcome_container_left">
        <h1 class="shoppers_h">for shoppers</h1>
        <p class="shoppers_p">Shop thousands of personalized and tailor-made designs directly from the world's most
          exciting
          couture talent</p>
        <button routerLink="/home" class="shopper_btn">shop now</button>
      </div>
      <span></span>
      <div class="welcome_container_right">
        <h1 class="shoppers_h">for designers</h1>
        <p class="shoppers_p">Discover and connect directly with over 50,000 emerging fashion designers in the world's
          largest showroom
          couture talent</p>
        <button routerLink="/login" class="shopper_btn">login</button>
      </div>
    </article>
    <div class="text_logo"><img src="/assets/images/svg/text-logo.svg" alt="">
    </div>
    <div class="right-shortcut">welcome to njal</div>
  </div>
</main>