<main>
  <div class="container">
    <app-register></app-register>
    <div class="separator">
      <h1>or</h1>
    </div>
    <div class="right_side_login">
      <h1>login</h1>
      <p>Please login to access your NJAL Look Book by using your e-mail address and password.</p>
      <form [formGroup]="form" (ngSubmit)="onLogin(form)">
        <mat-form-field>
          <mat-label>EMAIL</mat-label>
          <input type="email" matInput formControlName="email">
          <mat-error *ngIf="form.get('email')!.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="form.get('email')!.hasError('email')">
            Email is invalid
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>PASSWORD</mat-label>
          <input [type]="hide ? 'password' : 'text'" matInput formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <ng-container *ngIf="hide; else showIcon">
              <img src="/assets/images/pass/hide.svg">
            </ng-container>
            <ng-template #showIcon>
              <img src="/assets/images/pass/show.svg">
            </ng-template>
          </button>
          <mat-error *ngIf="form.get('password')!.hasError('required')">
            Password is required
          </mat-error>
          <mat-error *ngIf="form.get('password')!.hasError('minlength')">
            Password must be at least 6 characters long
          </mat-error>
        </mat-form-field>
        <button mat-raised-button *ngIf="!isLoggingIn" test-id="login-button" class="login_btn">
          LOGIN
        </button>
        <button mat-raised-button class="button-loader login_btn" *ngIf="isLoggingIn">
          <mat-spinner color="accent" diameter="20"></mat-spinner>
        </button>
      </form>
      <a class="password_recovery" [routerLink]="['/password-recovery']">
        forgotten password?
      </a>
    </div>
  </div>
  <div class="text_logo"><a [routerLink]="['/notjustalabel']"><img src="/assets/images/svg/text-logo.svg"
        alt="logo"></a>
  </div>
  <div class="aside-overlay" [class.show-overlay]="isAsideNavOpen" (click)="clearOverlay()"></div>
</main>