* {
  font-family: Knockout;
}

.home-wrapper {
  width: 100vw;
  height: auto;
  display: flex;
  padding-top: 300px;
}

.home-cont-title {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 24px;
  border-top: 1px solid black;
}

.home-cont-title h4 {
  font-family: Avenir-regular;
  margin-top: 40px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-weight: lighter;
  opacity: 0.5;
}

.left-wrapper-bg,
.right-wrapper-bg {
  width: 50vw;
  height: 70vh;
  background-image: url("/assets/images/home-bg/main_banner-01_1125x900.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
}
.right-wrapper-bg {
  background-image: url("/assets/images/home-bg/main_banner_1125x900.jpg");
}
h1 {
  color: white;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: lighter;
}
a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: lighter;
  text-transform: uppercase;
  color: black;
  width: 140px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border: none;
}
a:hover {
  background-color: #000;
  transition: 0.3s ease-in-out;
  color: white;
}

.home-content {
  margin: 50px auto;
}
.title p {
  width: 90%;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  opacity: 0.5;
  line-height: 1.7rem;
  letter-spacing: 1px;
}

.partners {
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
  height: 200px;
  overflow: hidden;
}
.partners img {
  width: calc(100% / 5);
  max-width: 240px;
  max-height: 135px;
}

.separator {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.left-img,
.right-content {
  width: 50%;
}
.left-img img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}
.right-content {
  background-color: #ededed;
  text-align: center;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-content h1 {
  width: 70%;
  color: black;
  font-weight: lighter;
  font-size: 4.5rem;
}

@media screen and (max-width: 1150px) {
  .right-content h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 800px) {
  .home-wrapper {
    flex-direction: column;
  }
  .left-wrapper-bg,
  .right-wrapper-bg {
    width: 100%;
  }
  h1 {
    font-size: 4rem;
  }
  .title p {
    font-size: 16px;
  }
  .partners img {
    width: calc(100% / 5);
    max-width: 150px;
    max-height: 100px;
    animation: infiniteLoop 20s linear infinite;
  }
  @keyframes infiniteLoop {
    0% {
      transform: translateX(500%);
    }
    100% {
      transform: translateX(-500%);
    }
  }
  .right-content h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 530px) {
  .separator {
    flex-direction: column;
    align-items: center;
  }
  .left-img {
    width: 100%;
  }
  .right-content {
    width: 100%;
    height: 200px;
  }
}
