<div class="home-cont-title">
  <h4>new in</h4>
</div>
<div class="shop_container">
  <div class="shop_main_content">
    <div class="product" *ngFor="let product of products">
      <div class="product-img">
        <a routerLink="/product-details">
          <img src="/assets/images/home-card/2.jpg" alt="">
        </a>
      </div>
      <div class="product-details">
        <p class="designer-name">{{product.DesignerName}}</p>
        <h2 class="product-name">{{product.ProductName}}</h2>
        <p class="price">{{product.Price | currency}}</p>
      </div>
      <div class="cart_btn">
        <button>Add To Cart</button>
        <button>QUICKSHOP</button>
      </div>
    </div>
  </div>
</div>
<div class="view-all"><a [routerLink]="['/shop']" [queryParams]="{ gender: 'woman' }">view all</a>
</div>