<div class="preview_container">
  <img src="assets/images/man_dropdown/manLabel-1.webp" alt="">
  <div class="preview_details">
    <span class="designer-name">{{product.DesignerName}} </span>
    <span class="product-name">{{product.ProductName}}</span>
    <span class="product-price">{{product.Price | currency}}</span>
    <span class="country">Made in {{product.Country}}</span>
    <span class="size">{{product.Size}}</span>
    <span class="colour">{{product.Colour}}</span>
    <div class="description">
      <p>details</p>
      <p class="wrap">{{product.Description}}</p>
    </div>
  </div>
</div>