<!-- <div class="preview_container">
  <img src="assets/images/man_dropdown/manLabel-1.webp" alt="">
  <div class="preview_details">
    <span class="designer-name">{{product.gender}} </span>
    <span class="product-name">{{product.name}}</span>
    <span class="country">Made in {{product.productType}}</span>
    <span class="size">{{product.subCategoryType}}</span>
    <div class="description">
      <p>details</p>
      <p class="wrap">{{product.Description}}</p>
    </div>
  </div>
</div> -->