<div class="woman_title">
  <!-- <div class="woman_title_bg">
    <h1 class="woman_title_heading" *ngFor="let heading of headings">{{heading.heading}}</h1>
    <p class="woman_title_paragraph" *ngFor="let paragraph of paragraphs">{{paragraph.paragraph}}</p>
  </div> -->
</div>
<div class="shop_container">
  <div class="shop_main_filter"></div>
  <app-product-card></app-product-card>
</div>
<div class="shop-end-paragraph">
  <div class="paragraph-wrapper" *ngFor="let title of titles">
    <div class="first-parahraph">
      <h1>{{title.heading}}</h1>
      <p>{{title.paragraph}}</p>
    </div>
  </div>
</div>