<div class="product_container">
  <div class="new_product">
    <h1>Add new product</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let pType of productTypes" [value]="pType.id">{{pType.name}}</mat-option>
        </mat-select>
      </mat-form-field> -->
      <mat-form-field appearance="outline">
        <mat-label>Product Type</mat-label>
        <mat-select formControlName="productType">
          <mat-option *ngFor="let pType of productTypes" [value]="pType.id">{{pType.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Sub-Category Type</mat-label>
        <mat-select formControlName="subCategoryType">
          <mat-option *ngFor="let subCType of subCategoryTypes" [value]="subCType.id">{{subCType.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input type="text" matInput formControlName="productName" [(ngModel)]="propertyView.name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Sub-Category Type</mat-label>
        <input type="text" matInput formControlName="subCategoryType" [(ngModel)]="propertyView.subCategoryType">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>photos</mat-label>
        <input type="text" matInput formControlName="photos">
      </mat-form-field> -->
      <div class="btn_container">
        <button class="btn" type="submit">Submit collection</button>
      </div>
    </form>
  </div>
  <!-- <div class="product_preview">
    <app-product-preview [product]="propertyView"></app-product-preview>
  </div> -->
</div>