.welcome_header {
  position: absolute;
  width: 100vw;
  font-family: Avenir-regular;
  font-weight: lighter;
}
.shipping_info,
.respons_shipping_info {
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 13px;
  text-align: center;
  background-color: #ebebeb;
}
.respons_shipping_info {
  display: none;
}
.header_component {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

.header_list_start,
.header-logo,
app-shopping-cart {
  width: calc(100% - 33.3%);
}
app-shopping-cart {
  display: flex;
  justify-content: flex-end;
}
.header_logo {
  padding-top: 60px;
}
.header_logo img {
  width: 105px;
  height: 94px;
}
header li {
  list-style: none;
}
header li a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  padding: 0 20px;
  opacity: 0.8;
}
.fa-chevron-down:before {
  font-size: 10px;
}
// hidden lists for main page
.hidden {
  visibility: hidden;
}

// .material-symbols-outlined {
//   font-size: 30px;
//   font-weight: 400;
//   font-variation-settings: "opsz" 60;
// }

// responsive
.mat-toolbar {
  background-color: white;
}

.mat-sidenav {
  background-color: white;
  width: 350px;
}

.side-nav-items {
  display: flexbox;
  flex-direction: column;
  padding-left: 20px;
  a {
    font-family: Avenir-regular !important;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: black !important;
  }
}

.side-menu-item {
  color: white !important;
  margin-top: 20px;
}

.main-content {
  margin: 20px;
}

.burger_menu img {
  width: 29px;
  height: 29px;
}
button {
  background: none;
  border: none;
}
mat-sidenav button {
  padding: 20px 20px;
  cursor: pointer;

  img {
    width: 28px;
    height: 28px;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.show-overlay {
  display: block;
}

@media screen and (max-width: 880px) {
  header li a {
    padding: 0 15px;
  }
  .material-symbols-outlined {
    padding-right: 20px;
  }
}
@media screen and (max-width: 690px) {
  header li a {
    padding: 10px;
  }
  .shipping_info {
    display: none;
  }
  .respons_shipping_info {
    display: block;
  }
  .material-symbols-outlined {
    padding-right: 20px;
  }
}
@media (min-width: 900px) {
  #menuIcon {
    display: none;
  }

  .mat-sidenav {
    display: none;
  }
}

@media (max-width: 900px) {
  .top-menu-item {
    display: none;
  }
}
