<header class="welcome_header">
  <div class="shipping_info" [class.hidden]="!showLists()">FREE SHIPPING FROM OVER 50,000 EMERGING DESIGNERS' STUDIOS
    AROUND THE GLOBE
  </div>
  <div class="respons_shipping_info" [class.hidden]="!showLists()">FREE SHIPPING ON ALL ORDERS</div>
  <nav class="navbar">
    <ul class="header_component" [class.hidden]="!showLists()">
      <button id="menuIcon" (click)="sidenav.toggle()">
        <div class="burger_menu">
          <img src="/assets/images/svg/menu.svg" alt="burger-menu">
        </div>
      </button>
      <li class="header_list_start">
        <a class="top-menu-item" href="/home">HOME</a>
        <a class="top-menu-item" href="shop?gender=woman" (mouseleave)="toggleDropdown('',false)"
          (mouseover)="toggleDropdown('woman',true)" (click)="toggleDropdown('woman', true)">WOMEN
          <i class="fa-solid fa-chevron-down"></i>
          <app-header-dropdown *ngIf="selectedGender === 'woman'" [gender]="selectedGender"></app-header-dropdown>
        </a>
        <a class="top-menu-item" href="shop?gender=man" (mouseover)="toggleDropdown('man',true)"
          (mouseleave)="toggleDropdown('',false)">MEN
          <i class="fa-solid fa-chevron-down"></i>
          <app-header-dropdown *ngIf="selectedGender === 'man'" [gender]="selectedGender"></app-header-dropdown>
        </a>
      </li>

      <div class="header_logo">
        <a href="#" (click)="refreshPage($event)"><img src=" /assets/images/svg/logo.svg" alt="njal_logo"></a>
      </div>
      <app-shopping-cart></app-shopping-cart>
    </ul>

    <mat-sidenav-container>
      <mat-sidenav #sidenav [fixedInViewport]="true">
        <button class="close_btn" (click)="sidenav.toggle()">
          <img src="assets/images/svg/close.svg" alt="close-button">
        </button>
        <div class="side-nav-items">
          <div>
            <a (click)="sidenav.close()" mat-button routerLink="/" class="side-menu-item">Home</a>
          </div>
          <div>
            <a (click)="sidenav.close()" mat-button routerLink="/contacts" class="side-menu-item">woman</a>
          </div>
          <div>
            <a (click)="sidenav.close()" mat-button routerLink="/newcontact" class="side-menu-item">man</a>
          </div>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
    <div class="overlay" [class.show-overlay]="sidenav.opened"></div>
  </nav>
</header>