<footer class="footer">
  <div class="text-logo">
    <a href="home"><img src="/assets/images/svg/text-logo.svg" alt=""></a>
  </div>
  <div class="footer-elements">
    <div class="container">
      <ul class="footer-items">
        <li class="newsletter">
          <form action=""></form>
          <input type="text" placeholder="Email address">
          <button>submit</button>
        </li>
        <li class="footer-list-one">
          <ul class="list-one">
            <li><a href="">About NJAL</a></li>
            <li><a href="">How NJAL Works</a></li>
            <li><a href="">The Story</a></li>
            <li><a href="">Contact & Help</a></li>
          </ul>
        </li>
        <li class="footer-list-two">
          <ul class="list-two">
            <li><a href="">Returns</a></li>
            <li><a href="">Delivery</a></li>
            <li><a href="">General FAQ</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms & Conditions</a></li>
          </ul>
        </li>
      </ul>
      <div class="socials">
        <div class="socials-list">
          <ul class="social-items">
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href=""><i class="fa-brands fa-square-pinterest"></i></a></li>
            <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
          </ul>
        </div>
        <div class="currency-btn"><button>Georgia ($USD) <i class="fa-solid fa-chevron-down"></i>
          </button></div>
      </div>
      <div class="copyright">&copy; 2024. All rights reserved</div>
    </div>
  </div>
</footer>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-elements">

    </div>
  </div>

</footer>