<div class="content">
  <div class="container">
    <h1 class="title">HAVING PROBLEMS LOGGING IN? PLEASE ENTER YOUR EMAIL ADDRESS AND YOU WILL RECEIVE A LINK TO CREATE
      A
      NEW
      PASSWORD.
    </h1>
    <form [formGroup]="form">
      <mat-form-field class="form-field">
        <mat-label>EMAIL</mat-label>
        <input type="email" matInput formControlName="email">
        <mat-error *ngIf="form.get('email')!.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="form.get('email')!.hasError('email')">
          Email is invalid
        </mat-error>
      </mat-form-field>
    </form>
    <button class="recovery_btn" (click)="recoverPassword()">FORGOT PASSWORD</button>
    <div class="text_logo">
      <a [routerLink]="['/notjustalabel']"><img src="/assets/images/svg/text-logo.svg" alt="logo">
      </a>
    </div>
  </div>
</div>